<div class="header" fxLayout="row" fxLayoutAlign="start center">
  <div class="mx-auto" fxLayout="column" fxLayoutAlign="center start">
    PERSON FORM
  </div>
</div>
<div class="container dialog-padding">

  <form #formControl="ngForm">
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="ID" [(ngModel)]="data.id" name="id" required disabled>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="First Name" [(ngModel)]="data.first_name" name="first_name"
          maxlength="50" required/>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Last Name" [(ngModel)]="data.last_name" name="last_name"
          maxlength="50" required/>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    
    <div class="form">
      <mat-form-field color="accent">
        <mat-select placeholder="GENDER" [(ngModel)]="data.gender" name="gender">
          <mat-option *ngFor="let g of gender" [value]="g.value">{{g.viewValue}}</mat-option>         
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions style="float:right">
      <button class="mat-raised-button mat-warn" (click)="close()" tabindex="-1">CANCEL</button>
      <button class="mat-raised-button btn-primary" (click)="save()">SAVE</button>
    </div>
  </form>
</div>