.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
  height: 100%;
}

.form {
  padding-top: 6px;
}

.mat-form-field {
  font-size: 16px;
}

.header {
  color: white;
  background-color: #607d8b !important;
  font-size: 22px;
}